@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

/* .list-item {
  padding: 0.5rem;
  color: blue;
  font-weight: bold;
  &:hover {
    background-color: orange;
    color: black;
  }
} */
